# Node.js dependencies
node_modules/
package-lock.json

# Test reports
allure-results/
allure-report/
junit-results/
reports/
Web_Execution_Report/

# Logs & temp files
*.log
*.tmp
*.swp
*.pid

# Environment & configuration files
.env
*.local

# VS Code settings
.vscode/
